################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ba_test/CoreLibrary/obj/Debug
/ba_test/CoreLibrary/bin/Debug
